[submodule "line-chart/single-line-with-tooltip-china-gdp"]
	path = line-chart/single-line-with-tooltip-china-gdp
	url = https://gist.github.com/26c7ca2499147578411c6d5001700ae3.git
[submodule "bar-chart/bar-chart-cpi-over-time"]
	path = bar-chart/bar-chart-cpi-over-time
	url = https://gist.github.com/c2f2c4146ad1df26de74b8517ce3f41f.git
[submodule "pie-chart/pie-chart-fpds"]
	path = pie-chart/pie-chart-fpds
	url = https://gist.github.com/3900002db4f212ad80226cc6d0e8a047.git
[submodule "tag-cloud/tag-cloud-stackoverflow-tags"]
	path = tag-cloud/tag-cloud-stackoverflow-tags
	url = https://gist.github.com/cb3bd8d1a8a7dac3bd483855a9fcd0cc.git
